{% extends '_layouts/global' %}

{% block headJS %}{% endblock %}
{% block footJs %}{% endblock %}

{% block site %}
  <div class="grid place-items-center min-h-[calc(100vh)]">
    <div class="text-center">
      <h1 class="text-xl font-bold">Hello World</h1>
      <p>From CraftCMS {{ entry.title }}.</p>
      <p>CraftCMS Boilerplate by <a href="https://ack.studio" target="_blank"><span>ACK STUDIO</span></a></p>
    </div>
  </div>
{% endblock %}